@charset "UTF-8";
//基础布局

html,body{
    margin:0 auto;
}
body{
    max-width:10rem;
}
.headers{
    width:10rem;
    position:fixed;
    top:0;
    left:auto;
    right:auto;
}
.contents{
    width:100%;
}
