@charset "UTF-8";
@import "../../css/base.scss";

body{
    background:#f5f5f5;
}
.headers{
    height: 1.173rem;
    background:white;
    border-bottom:1px solid #eeeeee;
    display: flex;
    align-items: center;
    z-index:96;
    box-shadow: 0rem 0.013rem 0rem 0rem #e5e5e5;
    .lefts{
        width:1.173rem;
        height:100%;
        font-size:0.5rem;
        @extend .flexs;
        position:absolute;
        top:0;
        left:0;
    }
    .centers{
        width:100%;
        height:100%;
        @extend .flexs;
        font-size: 0.48rem;
    }
}
.contents{
    top: 1.173rem;
    bottom:0;
    overflow:auto;
}
.merchants{
    display: flex;
    padding:0 0.4rem;
    height: 1.2rem;
    margin:0.267rem 0;
    background:white;
}
.information_box{
    margin-bottom:0.267rem;
}
.information_box,.information_one{
    padding:0 0.4rem;
    background:white;
    >div{
        display: flex;
        border-bottom:0.013rem solid #eeeeee;
    }
}
.merchants,.information_box>div,.information_one>div{
    >div{
        padding:0.4rem 0;
    }
    >div:nth-child(1){
        width:2.093rem;
        color:#666666;
        font-size: 0.4rem;
    }
    >div:nth-child(2){
        width:7.107rem;
        font-size:0.373rem;
        >p{
            font-size:0.373rem;
        }
    }
}