@charset "UTF-8";
@import "../../css/base.scss";
@import "../../css/styles.scss";

.headers{
    height: 1.173rem;
    z-index:96;
    background: white;
    border:1px solid #e5e5e5;
    .lefts{
        width:1rem;
        height:100%;
        font-size:0.5rem;
        position:absolute;
        top:0;
        left:0;
        @extend .flexs;
    }
    .centers{
        width:100%;
        height:100%;
        font-size: 0.48rem;
        @extend .flexs;
    }
    .rights{
        width:1rem;
        height:100%;
        font-size:0.5rem;
        position:absolute;
        top:0;
        right:0;
        @extend .flexs;
    }
}
.contents{
    width:10rem !important;
    padding:0 0.4rem;
    position:absolute;
    top:1.173rem;
    left:auto;
    bottom:1.333rem;
    overflow: auto;
}
.carda{
    display:block;
    width: 8.293rem;
    height: 5.373rem;
    margin:0.267rem auto 0;
}
.card_title{
    font-size:$fontsb;
    text-align: center;
    padding:0.52rem 0;
}
.fts{
    color:$colorb;
    font-size:$fontsc;
}
.cardb{
    display: block;
    width: 9.2rem;
    height: 1.68rem;
    margin:0.6rem auto 0.253rem;
}
ol{
    padding-bottom:0.7rem;
    li{
        color:$colorb;
        font-size:$fontsc;
        margin-bottom:0.347rem;
    }
}
.comments{
    width: 1.333rem;
    height: 1.333rem;
    border-radius:50%;
    position: fixed;
    right:0.533rem;
    bottom:4.1rem;
}
.footers{
    height: 1.333rem;
    @extend .flexs;
    color: #ffffff;
    font-size:$fontsa;
    background-color: #211b1d;
    z-index:96;
}
