@charset "UTF-8";
@import "../../css/base.scss";
.headers{
    height: 1.173rem;
    z-index:96;
    background: white;
    border:1px solid #e5e5e5;
    .lefts{
        height:100%;
        position:absolute;
        top:0;
        left:0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        >a:first-child{
            font-size:0.5rem;
        }
        img{
            width:0.6rem;
            margin-left:0.587rem;
        }
    }
    .centers{
        height:100%;
        font-size: 0.48rem;
        @extend .flexs;
    }
    .rights{
        width:1rem;
        height:100%;
        font-size:0.5rem;
        position:absolute;
        top:0;
        right:0;
        @extend .flexs;
    }
}
.contents{
    width:10rem !important;
    padding:0 0.4rem;
    position:absolute;
    top:1.173rem;
    left:auto;
    bottom:1.333rem;
    overflow: auto;
}
.carda{
    width: 8.293rem;
    height: 5.373rem;
    margin:0.267rem auto 0;
    position:relative;
    >img{
        max-width:100%;
        max-height:100%;
        width:100%;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin:auto;
    }
}
.card_title{
    font-size:0.373rem;
    text-align: center;
    padding:0.52rem 0;
}
.fts{
    color:#999999;
    font-size:0.32rem;
}
.cardb{
    display: block;
    width: 9.2rem;
    height: 1.68rem;
    margin:0.6rem auto 0.253rem;
}
ol{
    padding-bottom:0.7rem;
    li{
        color:#999999;
        font-size:0.32rem;
        margin-bottom:0.347rem;
    }
}
.comments{
    width: 1.333rem;
    height: 1.333rem;
    border-radius:50%;
    position: fixed;
    right:0.533rem;
    bottom:3.1rem;
}
.footers{
    height: 1.333rem;
    @extend .flexs;
    color: #ffffff;
    font-size:0.427rem;
    background-color: #211b1d;
    z-index:96;
}
.share_box{
    position:fixed;
    top:0;
    left: 0;
    right: 0;
    bottom:0;
    background:rgba(0,0,0,0.6);
    display:none;
    z-index:98;
    >img{
        width:5.6rem;
        position:absolute;
        top:0;
        right: 0;
    }
}