@charset "UTF-8";
@import "../../css/base.scss";
.headers{
    height: 7.067rem;
    z-index:96;
    background-color: #0099ff;
    >a{
        width:1.173rem;
        height: 1.173rem;
        color:white;
        font-size:0.5rem;
        position:absolute;
        top:0;
        @extend .flexs;
    }
    .lefts{
        left:0;
    }
    .rights{
        right:0;
    }
    >p{
        color: #ffffff;
        font-size: 0.32rem;
        padding:0.253rem 0.56rem 0;
    }
}
.contents{
    width:10rem !important;
    position:absolute;
    top:7.067rem;
    left:auto;
    bottom:0;
    overflow: auto;
    padding:0 0.24rem;
    background: #F7F7F7;
}
.area{
    margin-top:1.587rem;
    padding:0 0.613rem;
    display: flex;
    justify-content: space-between;
    >ul{
        padding:0.15rem 0;
        li:nth-child(1){
            display: inline-block;
            padding:0.16rem 0.307rem;
            background-color: #ffffff;
            border-radius: 0.6rem;
            >span{
                max-width:4rem;
                display: inline-block;
                font-size: 0.32rem;
                @extend .yincang;
            }
            >i{
                font-size:0.3rem;
            }
        }
        li:nth-child(2){
            color: #ffffff;
            font-size: 0.907rem;
            font-weight: normal;
            margin-top:0.1rem;
        }
    }
    >img{
        width: 1.813rem;
        background:none;
    }
}
.list_tab{
    display: flex;
    background:#F7F7F7;
    border-radius: 0.32rem 0.32rem 0rem 0rem;
    position:absolute;
    left:0;
    right:0;
    bottom:0;
    >li{
        width:100%;
        padding:0.547rem 0 0.587rem;
        @extend .flexs;
        color: #666666;
        font-size: 0.4rem;
    }
    >div{
        position: absolute;
        left:10%;
        bottom: 0.267rem;
        display: inline-block;
        width: 0.533rem;
        height: 0.053rem;
        background-color: #0099ff;
        border-radius: 0.027rem;
    }
    .act{
        color: #333333;
        font-weight:600;
    }
}
.building_box{
    background-color: #ffffff;
    margin-bottom:0.267rem;
    padding:0.373rem 0.333rem 0.4rem;
    box-shadow: 0rem 0.027rem 0.213rem 0rem rgba(0, 0, 0, 0.05);
    border-radius: 0.107rem;
    display: flex;
    >div:nth-child(1){
        position: relative;
        >img{
            width: 2.4rem;
            height: 1.813rem;
            border-radius: 0.053rem;
        }
        >div{
            width: 0.453rem;
            height: 0.533rem;
            position:absolute;
            top:0;
            left: 0.133rem;
            background-repeat:no-repeat;
            background-size:100%;
            color: #ffffff;
            font-size: 0.32rem;
            text-align: center;
            line-height:0.533rem;
        }
        >.befores{
            background-image:url(../../img/rankings.png);
        }
        >.lead{
            background-image:url(../../img/ranking.png);
        }
    }
    >div:nth-child(2){
        margin-left:0.19rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        >h4{
            width:5rem;
            font-size: 0.373rem;
            padding-left:0.13rem;
            @extend .yincang;
        }
        >ul{
            display: flex;
            align-items: center;
            li{
                height:0.213rem;
                color: #999999;
                font-size: 0.267rem;
                padding:0 0.13rem;
                display: flex;
                line-height:0.213rem;
                border-right:1px solid #e5e5e5;
            }
            li:last-child{
                border:none;
            }
        }
        >p:nth-child(3){
            padding-left:0.13rem;
            color: #999999;
            font-size: 0.267rem;
        }
        >p:nth-child(4){
            padding-left:0.13rem;
            color: #f9351a;
            font-size: 0.32rem;
            font-family: PingFang-SC-Medium;
        }
    }
}
