@charset "UTF-8";
@import "../../css/base.scss";
@import "../../css/styles.scss";
.headers{
    height:1.153rem;
    padding:0.16rem 0.48rem;
    background-color:$colorc;
    z-index:99;
    &>input{
        width:100%;
        height: 0.853rem;
        padding:0 0.16rem;
        font-size:0.32rem;
        background-color: #ffffff;
        border-radius: 0.053rem;
    }
}
.search::-webkit-input-placeholder{
    text-align: center;
    font-size:0.32rem;
}
.search:-moz-placeholder{
    text-align: center;
    font-size:0.32rem;
}
.search::-moz-placeholder{
    text-align: center;
    font-size:0.32rem;
}
.search:-ms-input-placeholder{
    text-align: center;
    font-size:0.32rem;
}
//内容
.contents{
    padding-top:1.153rem;
}
.swiper1{
    .swiper-slide{
        height: 4.333rem;
        >img{
            width:100%;
            height:100%;
        }
    }
}

.menu{
    width:100%;
    display: flex;
    flex-wrap: wrap;
    padding:0.48rem 0 0.027rem 0;
    box-shadow: 0rem 0.04rem 0.187rem 0rem rgba(153, 153, 153, 0.3);
    >a{
        width:25%;
        padding-bottom:0.453rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        >img{
            width: 1.293rem;
            height: 1.293rem;
            border-radius:50%;
            background:rgba(0,0,0,0.1);
        }
        >span{
            margin-top:0.187rem;
            color:$colora;
            font-size:$fontsc;
        }
    }
}
.nows{
    width:100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding:0.533rem 0.4rem;
    >a{
        box-sizing:border-box;
        width:44.67%;
        height: 1.813rem;
        background-color: $colore;
        border-radius: 0.053rem;
        margin-bottom:0.213rem;
        padding:0.307rem 0.387rem;
        display: flex;
        justify-content: space-between;
        >div{
            margin-top:0.08rem;
            >p:nth-child(1){
                font-size:$fontsb;
            }
            >p:nth-child(2){
                color:$colorb;
                font-size:$fontsc;
                margin-top:0.14rem;
            }
        }
        >img{
            width: 1.2rem;
            height: 1.2rem;
            border-radius:50%;
        }
    }
}
//.preferential{
//  width:92%;
//  border-radius: 0.053rem;
//  overflow: hidden;
//  margin:0 auto;
//  >img{
//      width:100%;
//      height:100%;
//  }
//}
.swiper6{
    width:92%;
    height:2rem;
    .swiper-slide{
        >img{
            width:100%;
            height:100%;
        }
    }
    .swiper-pagination-fraction{
        width:auto;
        left:initial;
        right:0.293rem;
        text-align: right;
        padding:0.05rem 0.15rem;
        border-radius:0.2rem;
        background-color: rgba(0,0,0,0.4);
        .swiper-pagination-current{
            color:white;
            font-size:0.293rem;
        }
        .swiper-pagination-total{
            color:white;
            font-size:0.24rem;
        }
    }
}

.tabBars_box{
    width:100%;
    height:1rem;
    margin:0.547rem auto 0.24rem;
}
.tabBar,.tabBars{
    width:100%;
    height:1rem;
    list-style:none;
    padding:0.2rem 0 0.1rem 0;
    display: flex;
    justify-content: space-between;
    z-index:999;
    >li{
        width:100%;
        height:100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        >p{
            font-size:$fontsa;
            text-align: center;
        }
    }
}
.selecteds{
    >p{
        color:$colorc;
    }
    >div{
        width:0.4rem;
        height: 0.053rem;
        background-color:$colorc;
        border-radius: 0.027rem;
        margin:0 auto;
    }
}
.swiper2{
    width:91.73%;
    height:11.52rem;
}
.consulting{
    
}
.preferentialk{
    >a{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding:0.318rem 0;
        border-bottom:1px solid #f5f5f5;
        >div:nth-child(1){
            width:6.5rem;
            font-size:0.373rem;
            @extend .yincang;
        }
        >div:nth-child(2){
            display: flex;
            align-items: center;
            >span{
                color: #999999;
                font-size:0.32rem;
                margin-right:0.1rem;
            }
            >i{
                color: #999999;
                font-size:0.32rem;
            }
        }
    }
}
.information{
    height: 2.88rem;
    padding:0.48rem 0;
    display: flex;
    justify-content: space-between;
    border-bottom:1px solid #e5e5e5;
    >div{
        >div{
            width: 6.053rem;
            max-height:1.63rem;
            font-size:$fontsb;
            overflow: hidden;/*超出隐藏*/
            display: -webkit-box;/*将对象作为弹性伸缩盒子模型显示。*/
            -webkit-box-orient: vertical;/*从上到下垂直排列子元素（设置伸缩盒子的子元素排列方式）*/
            -webkit-line-clamp:3;/*超出2行用省略号表示*/
        }
        >p{
            color:$colorb;
            font-size:$fontsd;
            margin-top:0.153rem;
        }
    }
    >img{
        max-width: 2.52rem;
        max-height: 1.92rem;
        border-radius: 0.053rem;
    }
}
//更新
.updates{
    width: 92%;
    height: 1.2rem;
    background-color: $colore;
    border-radius: 0.053rem;
    display: flex;
    margin:0.5rem auto 0;
    >div{
        width:50%;
        height:100%;
        color:$colorc;
        font-size:$fontsb;
        @extend .flexs;
    }
    >div:nth-child(1){
        >i{
            color:$colorc;
            font-size:0.3rem;
            padding-top:0.1rem;
            margin-left:0.1rem;
        }
    }
    >div:nth-child(2){
        >i{
            color:$colorc;
            font-size:0.4rem;
            padding-top:0.05rem;
        }
    }
}

//嵌套
.swiper3{
    width:100%;
    >.swiper-wrapper{
        >.swiper-slide{
            padding:0 0.4rem;
        }
    }
}
.swiper4,.swiper5{
    width:100%;
    .swiper-slide{
        width: 3.653rem;
        padding-bottom:0.187rem;
        background:$colore;
        >img{
            width:100%;
            border-radius: 0.053rem;
        }
        >p:nth-child(2){
            width:100%;
            height:0.687rem;
            font-size:$fontsb;
            padding:0.187rem 0 0 0.32rem;
            @extend .yincang;
        }
        >p:nth-child(3){
            color:$colorb;
            font-size:$fontse;
            line-height:0.5rem;
            padding-left:0.32rem;
        }
    }
}
//楼盘
.buildings{
    display: flex;
    padding:0.48rem 0 0.347rem 0;
    border-bottom:1px solid #e5e5e5;
    >img{
        width: 2.533rem;
        height: 1.92rem;
        border-radius: 0.053rem;
    }
    >div{
        width:6.214rem;
        overflow: hidden;
        margin-left:0.453rem;
        >div:nth-child(1){
            max-width:100%;
            max-height:0.5rem;
            font-size:$fontsb;
            @extend .yincang;
        }
        >div:nth-child(4){
            color: #f9351a;
            font-size:$fontsb;
            margin-top:0.05rem;
        }
    }
}
.buildings:last-child{
    border:none;
}
.region{
    height:0.773rem;
    display: flex;
    align-items: center;
    >div{
        color: #666666;
        font-size: 0.293rem;
    }
    >div:nth-child(2){
        height:0.213rem;
        display: flex;
        align-items: center;
        margin-left:0.133rem;
        padding-left:0.133rem;
        border-left:0.027rem solid #e5e5e5;
    }
}
.features{
    display: flex;
    div{
        color: #999999;
        font-size: 0.267rem;
        padding:0.04rem 0.12rem; 
        margin-right:0.133rem;
        background:rgba(245,245,245,1);
        border-radius: 0.053rem;
    }
    .statea{
        color: #0099ff;
        background:rgba(178,224,255,0.5);
    }
    .stateb{
        color: #ffb956;
        background:rgba(255,234,204,0.5);
    }
}
.swiper3>.swiper-wrapper>.swiper-slide{
    width:100%;
    padding-bottom:2.5rem;
}
.recommended,.BridalChamber{
    width:100%;
    height:100%;
    overflow: auto;
}
.fixed-top {
    position: fixed;
    width: 100%;
    top:1.153rem;
    left:auto;
    box-shadow: 0rem 0.04rem 0.3rem 0rem rgba(69, 69, 69, 0.3);
}
.sticky {
    position: -webkit-sticky;/*滚过初始位置时自动吸顶*/
    position: sticky;/*吸顶时的定位*/
    top:0;
    left:auto;
    z-index: 999;/*z-index比下方所有层级要高*/
}
