@charset "UTF-8";
@import "../../css/base.scss";
@import "../../css/styles.scss";
.headers{
    height: 1.173rem;
    z-index:96;
    display: flex;
    align-items: center;
    background: white;
    border-bottom:1px solid #eeeeee;
    >i{
        width:1.173rem;
        height:100%;
        @extend .flexs;
    }
    >input{
        width: 8.427rem;
        height: 0.747rem;
        padding:0 0.307rem;
        border:none;
        font-size:0.373rem;
        background-color:$colore;
        border-radius: 0.053rem;
    }
}
.contents{
    width:10rem !important;
    position:fixed;
    top:1.173rem;
    left:auto;
    bottom:0;
    >ul{
        width:100%;
        height:100%;
        padding:0 0.4rem;
        overflow: auto;
    }
}
.imgas{
    display: flex;
    justify-content: space-between;
    padding:0.373rem 0;
    border-bottom:1px solid #eeeeee;
    >div{
        width:5.9rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        >div{
            font-size:$fontsb;
        }
        >p{
            color:$colorb;
            font-size:$fontsd;
        }
    }
    >img{
        width: 2.88rem;
        height: 2.133rem;
        border-radius: 0.053rem;
    }
}
.imgak{
    padding:0.413rem 0 0.427rem 0;
    border-bottom:1px solid #eeeeee;
    >div:nth-child(1){
        font-size:$fontsb; 
    }
    >div:nth-child(2){
        color:$colora;
        font-size:$fontsc;
        margin:0.307rem 0 0.387rem 0;
    }
    >p{
       color:$colorb;
       font-size:$fontsd;
    }
}
