@charset "UTF-8";
@import "../../css/base.scss";
.headers{
    height: 1.173rem;
    background:white;
    display: flex;
    align-items: center;
    z-index:96;
    .lefts{
        width:1.173rem;
        height:100%;
        font-size:0.4rem;
        @extend .flexs;
        position:absolute;
        top:0;
        left:0;
    }
    .centers{
        width:100%;
        height:100%;
        @extend .flexs;
        >div{
            width: 7.547rem;
            height: 0.96rem;
            display: flex;
            border-radius: 0.053rem;
            border: 1px solid #e5e5e5;
            i{
                width:0.867rem;
                height:100%;
                color:#7b7b7b;
                font-size:0.35rem;
                @extend .flexs;
            }
            input{
                width:6.68rem;
                height:100%;
                border:none;
                font-size:0.373rem;
                background:rgba(255,255,255,0);
            }
            input::-webkit-input-placeholder {
                 padding-left:-5px;
            }
        }
    }
    .rights{
        width:1.173rem;
        height:100%;
        position:absolute;
        top:0;
        right:0;
        >img{
            width: 0.48rem;
            @extend .juzhong;
        }
    }
}
.contents{
    max-width:10rem;
    padding-top:1.173rem;
    position: absolute;
    top: 0;
    left:auto;
    right:auto;
    bottom:0;
    overflow: auto;
    >h3{
        font-size: 0.533rem;
        margin:0.787rem 0.533rem 0.373rem 0.533rem;
    }
}
.menu{
    width:100%;
    display: flex;
    flex-wrap: wrap;
    padding:0.48rem 0 0.027rem 0;
    >a{
        width:25%;
        padding-bottom:0.453rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        >img{
            width: 1.293rem;
            height: 1.293rem;
            background:none;
        }
        >span{
            margin-top:0.187rem;
            color:#666666;
            font-size:0.32rem;
        }
    }
}
.banners{
    width: 9.04rem;
    height: 2.4rem;
    display: block;
    margin:0 auto;
    >img{
        width:100%;
        height:100%;
    }
}
.nows{
    width: 9.04rem;
    display: flex;
    justify-content: space-between;
    margin:0.48rem auto 0;
    a{
        border-radius: 0.053rem;
        border:1px solid #e5e5e5;
    }
    >a{
        width: 4.387rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding:0.48rem 0.373rem 0 0.373rem;
        img{
            width: 3.24rem;
            height: 2.013rem;
            margin:0.52rem auto 0;
        }
    }
    >div{
        width: 4.387rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        >a{
            width: 4.387rem;
            display: flex;
            align-items: flex-end;
            justify-content:space-between;
            padding:0.48rem 0 0 0.36rem;
            >div{
                >p{
                    margin-bottom:0.42rem;
                }
            }
            >img{
                width: 0.933rem;
                height: 0.88rem;
            }
        }
        >a:nth-child(2){
            margin-top:0.267rem;
        }
        
    }
    .texts_box{
        h4{
            font-size: 0.373rem;
        }
        p{
            color: #999999;
            font-size: 0.32rem;
            margin-top:0.24rem;
        }
    }
}
.swiper_box{
    
}
.cons{
    padding:0 0.48rem;
}
.building_box{
    padding:0.48rem 0 0.2rem 0;
    display: flex;
    border-bottom:1px solid #E5E5E5;
    >img{
        width: 2.533rem;
        height: 1.92rem;
        border-radius: 0.053rem;
    }
    >div{
        width:6.2rem;
        margin-left:0.467rem;
        >h3{
            max-width:100%;
            max-height:0.5rem;
            font-size:0.373rem;
            @extend .yincang;
        }
//      >p{
//          color:#999999;
//          font-size:0.267rem;
//          line-height:0.5rem;
//      }
        >.price{
            color: #f9351a;
            font-size:0.373rem;
            margin:0.1rem 0 0.05rem 0;
        }
    }
}
.building_box:last-child{
    border:none;
}
.tab_box{
    height:1.213rem;
}
.tab_title{
    width:100%;
    height:1.213rem;
    display: flex;
//  padding:0.32rem 0;
    background:white;
    >div{
        width:100%;
        height:100%;
        @extend .flexs;
        font-size: 0.373rem;
        >i{
            color:#a1a1a1;
        }
    }
    .act{
        color: #0099ff;
        >i{
            color: #0099ff;
        }
    }
}
.posits{
    max-width:10rem;
    position:fixed;
    top:1.173rem;
    left:auto;
    right:auto;
    z-index:999;
}
.environment{
    display: flex;
    align-items: center;
    margin:0.05rem 0 0.1rem 0;
    >div:nth-child(1){
        display: flex;
        align-items: center;
        height:0.25rem;
        border-right:0.027rem solid #E5E5E5;
        >div{
            color:#999999;
            font-size:0.267rem;
            margin-right:0.12rem;
        }
    }
    >div:nth-child(2){
        display: flex;
        color:#999999;
        font-size:0.267rem;
        margin-left:0.12rem;
    }
}
.situation{
    display: flex;
    margin:0.06rem 0;
    >div{
        color:#999999;
        font-size:0.267rem;
        padding:0.05rem 0.133rem;
        background-color: #f5f5f5;
        border-radius: 0.027rem;
        margin-right:0.133rem;
    }
    >.sell{
        color:#0099ff;
        background-color:rgba(0,153,255,0.3);
    }
    >.waiting{
        color: #ffffff;
        background-color: #ffb956;
    }
}
.swiper1{
    width:10rem;
    height:88vh;
    position:fixed !important;
    top:2.3rem;
    left:auto;
    z-index: 97 !important;
    background:rgba(99,99,99,0.6);
    display: none;
}
.swiper1{
    .tab_con1,.tab_con2,.tab_con3{
        height:9.347rem;
    }
}
.swiper1 .tab_con4{
    height:100%;
}
.ch4{
    width:100%;
    height:calc(100% - 3.547rem);
    padding:0 0.2rem;
    overflow-x: auto;
    background:white;
}
.ch1,.ch2,.ch3{
    width:100%;
    height:auto;
    max-height:7rem;
//  height:7.7rem;
    padding-left:0.387rem;
    overflow-x: auto;
    background:white;
    >label{
        width:100%;
        height:1.2rem;
        padding-right:0.4rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom:1px solid #eeeeee;
        >span{
            font-size: 0.4rem;
        }
        >.act{
            color:#0099ff;
        }
        >input{
            display:none;
        }
        >img{
            width:0.6rem;
        }
    }
}
.btn1,.btn2,.btn3{
    width:100%;
    height:1.547rem;
    display: flex;
    align-items: center;
    justify-content:center;
    border-top:1px solid #eeeeee;
    background:white;
    >div{
        width: 9.2rem;
        height: 0.96rem;
        color: #ffffff;
        font-size: 0.4rem;
        @extend .flexs;
        background-color: #0099ff;
    }
}
.btn4{
    height:1.547rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-top:1px solid #eeeeee;
    background:white;
    >div{
        width: 4.467rem;
        height: 0.96rem;
        font-size: 0.4rem;
        @extend .flexs;
        border-radius: 0.053rem;
    }
    >div:nth-child(1){
        color: #999999;
        background:white;
        border:1px solid #e5e5e5;
    }
    >div:nth-child(2){
        color: #ffffff;
        background-color:#0099ff;
    }
}
.conditions{
    >div:nth-child(1){
        margin:0.533rem 0 0.387rem 0;
        padding:0 0.2rem;
        font-size:0.427rem;
    }
}
.cond{
    display: flex;
    flex-wrap: wrap;
    >div{
        width:calc(100% / 4);
        display: flex;
        justify-content: center;
        margin-bottom:0.4rem;
        >div{
            width: 1.973rem;
            height: 0.613rem;
            color: #999999;
            font-size:0.32rem;
            background-color: #f5f5f5;
            border-radius: 0.053rem;
            @extend .flexs;
        }
        >.act{
            color:#0099ff;
            background: rgba(0,153,255,0.3);
        }
    }
    >p{
        width:calc(100% - 0.4rem);
        margin:0.093rem auto 0;
        border-bottom:1px solid #eeeeee;
    }
}








