@charset "UTF-8";
@import "../../css/base.scss";
.headers{
    height: 1.173rem;
    z-index:96;
    padding:0.213rem 0;
    background: white;
    border-bottom:1px solid #eeeeee;
    .lefts{
        height:100%;
        padding:0 0.4rem;
        font-size: 0.373rem;
        position:absolute;
        top:0;
        left:0;
        @extend .flexs;
    }
    .centers{
        width:100%;
        height:100%;
        font-size: 0.48rem;
        @extend .flexs;
    }
    .rights{
        height:100%;
        padding:0 0.4rem;
        font-size: 0.373rem;
        position:absolute;
        top:0;
        right:0;
        @extend .flexs;
    }
}
.contents{
    padding-top:1.173rem;
}
.review_box{
    width:100%;
    height:3rem;
    padding:0.08rem 0.747rem 0.5rem 0.747rem;
    .puba{
        width:100%;
        height:100%;
        outline:none;
        resize:none;
        border:none;
    }
    .puba::-webkit-input-placeholder{
        color: #999999;
    }
    >div{
        color: #999999;
        font-size: 0.267rem;
        text-align: right;
    }
}
.image_box{
    padding:0.373rem 0.761rem;
    display: flex;
    flex-wrap: wrap;
    >.imgs{
        width: 2.826rem;
        height: 2.693rem;
        padding:0 0.0665rem 0.12rem 0.0665rem;
        position:relative;
        >img:nth-child(1){
            display: block;
            width:100%;
            height:100%;
        }
        >.deletes{
            width: 0.587rem;
            height: 0.587rem;
            position:absolute;
            top:0;
            right:0.0665rem;
        }
    }
    >.images{
        width: 2.826rem;
        height: 2.693rem;
        padding:0 0.0665rem 0.12rem 0.0665rem;
        >label{
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            border: solid 0.013rem #e5e5e5;
            >i{
                color:#cccccc;
                font-size:1rem;
            }
            >input{
                display: none;
            }
        }
    }
}
