@charset "UTF-8";
@import "../../css/base.scss";

.headers{
    height: 1.173rem;
    background:white;
    border-bottom:1px solid #eeeeee;
    display: flex;
    align-items: center;
    z-index:96;
    box-shadow: 0rem 0.013rem 0rem 0rem #e5e5e5;
    .lefts{
        width:1rem;
        height:100%;
        font-size:0.5rem;
        @extend .flexs;
        position:absolute;
        top:0;
        left:0;
    }
    .centers{
        width:100%;
        height:100%;
        @extend .flexs;
        font-size: 0.48rem;
    }
}
.contents{
    top:1.173rem;
    bottom:0;
    overflow:auto;
    .swiper1{
        margin:0.36rem 0;
        width:10rem;
        overflow: hidden;
        .swiper-slide{
            font-size: 0.373rem;
            text-align: center;
        }
        .act{
            color:#0099ff;
        }
    }
}
/*地图*/
#container{
    width:10rem;
    height:5.107rem;
}
.anchorBL{/*去除百度地图的logo*/
    display: none;
}
.distance_box{
    height:7rem;
    padding:0.26rem 0.4rem;
    overflow: hidden;
    >li{
        display: flex;
        justify-content:space-between;
        padding:0.2rem 0;
        >div{
            font-size:0.373rem;
        }
        >div:nth-child(1){
            color:#999999;
            >div{
                display: inline-block;
                max-width:6.5rem;
                color:#999999;
                font-size: 0.373rem;
                display: flex;
                >div:nth-child(1){
                    white-space: nowrap;
                    font-size: 0.373rem;
                }
                >div:nth-child(2){
                    @extend .yincang;
                    color:#999999;
                }
            }
        }
        >div:nth-child(2){
            color:#999999;
        }
        span{
            color:#999999;
        }
    }
}
.more{
    width: 9.2rem;
    height: 1.067rem;
    border-radius: 0.053rem;
    margin:0 auto;
    color:#0099ff;
    font-size:0.373rem;
    @extend .flexs;
    >i{
        color:#0099ff;
    }
}
.surrounding_title{
    padding:0.253rem 0.4rem;
    margin-top:0.4rem;
    font-size: 0.533rem;
}
.building_box{
    padding:0.48rem 0.4rem 0.2rem 0.4rem;
    display: flex;
    border-bottom:1px solid #E5E5E5;
    >img{
        width: 2.533rem;
        height: 1.92rem;
        border-radius: 0.053rem;
    }
    >div{
        margin-left:0.467rem;
        >div:last-child{
            color: #f9351a;
            font-size:0.373rem;
        }
    }
}
.building_box:last-child{
    border:none;
}
.titls{
    display: flex;
    align-items: center;
    justify-content: space-between;
    >h3{
        width:4rem;
        height:100%;
        font-size:0.373rem;
        @extend .yincang;
    }
    >div{
        width: 0.8rem;
        height: 0.427rem;
        font-size:0.267rem;
        @extend .flexs;
        border-radius: 0.053rem;
        border:solid 0.02rem #333333;
    }
}
.environment{
    display: flex;
    align-items: center;
    >div:nth-child(1){
        display: flex;
        align-items: center;
        height:0.25rem;
        border-right:2px solid #E5E5E5;
        >div{
            color:#999999;
            font-size:0.267rem;
            margin-right:0.12rem;
        }
    }
    >div:nth-child(2){
        display: flex;
        color:#999999;
        font-size:0.267rem;
        margin-left:0.12rem;
    }
}
.situation{
    display: flex;
    margin:0.06rem 0;
    >div{
        color:#999999;
        font-size:0.267rem;
        padding:0.05rem 0.133rem;
        background-color: #f5f5f5;
        border-radius: 0.027rem;
        margin-right:0.133rem;
    }
}
.bubbles{
    box-sizing:border-box;
    position:absolute;
    display:inline-block;
    padding:10px 30px;
    white-space:nowrap;
    background:url(../../img/bubbles.png) no-repeat;
    background-size:100% 100%;
}






















