@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  color: #333333;
  list-style: none;
  /*把此元素放置在父元素的中部。*/
  vertical-align: middle;
  box-sizing: border-box;
  /*去除移动端特有的点击高亮效果*/
  -webkit-tap-highlight-color: transparent;
}

img {
  display: block;
  background: rgba(238, 238, 238, 0.5);
}

input {
  /*1.清除文本框获取焦点时默认的边框阴影*/
  outline: none;
  /*2.去除边框*/
  border: none;
  /*3.添加边框*/
  border: 1px solid #ccc;
}

/* 让链接默认不显示下划线， */
a {
  color: #333;
  /*指针样式*/
  cursor: pointer;
  outline: none;
  text-decoration: none;
  display: inline-block;
  /*导致鼠标在页面活动时视频延迟变卡问题解决.*/
  blr: expression(this.onFocus=this.blur());
}

/* 清理浮动 */
.clearfix:before, .clearfix:after {
  display: block;
  content: " ";
  clear: both;
}

/*单行隐藏*/
.yincang, .wdows > div, #wdows > div {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/*多行隐藏*/
.yincangs {
  overflow: hidden;
  /*超出隐藏*/
  display: -webkit-box;
  /*将对象作为弹性伸缩盒子模型显示。*/
  -webkit-box-orient: vertical;
  /*从上到下垂直排列子元素（设置伸缩盒子的子元素排列方式）*/
  -webkit-line-clamp: 2;
  /*超出2行用省略号表示*/
}

/*换行*/
.newline {
  word-break: break-all;
  /* 只对英文起作用，以字母作为换行依据。*/
  word-wrap: break-word;
  /*只对英文起作用，以单词作为换行依据。*/
  white-space: pre-wrap;
  /*只对中文起作用，强制换行。*/
}

/*禁止换行*/
.ban_newline {
  white-space: nowrap;
}

/*placeholder样式*/
.input::-webkit-input-placeholder {
  text-align: center;
}

/*隐藏滚动条*/
.scroll_bar::-webkit-scrollbar {
  width: 0 !important;
  /*height:0 !important;*/
  /*display: none;*/
}

/*上下左右居中*/
.flexs, .headers .lefts, .headers .centers {
  display: flex;
  align-items: center;
  justify-content: center;
}

body {
  background: #f5f5f5;
}

.headers {
  height: 1.173rem;
  background: white;
  border-bottom: 1px solid #eeeeee;
  display: flex;
  align-items: center;
  z-index: 96;
  box-shadow: 0rem 0.013rem 0rem 0rem #e5e5e5;
}
.headers .lefts {
  width: 1.173rem;
  height: 100%;
  font-size: 0.5rem;
  position: absolute;
  top: 0;
  left: 0;
}
.headers .centers {
  width: 100%;
  height: 100%;
  font-size: 0.48rem;
}

.contents {
  padding-top: 1.173rem;
}

.merchants {
  display: flex;
  padding: 0 0.4rem;
  height: 1.2rem;
  margin: 0.267rem 0;
  background: white;
}

.information_box {
  margin-bottom: 0.267rem;
}

.information_box, .information_one {
  padding: 0 0.4rem;
  background: white;
}
.information_box > div, .information_one > div {
  display: flex;
  border-bottom: 0.013rem solid #eeeeee;
}

.merchants > div, .information_box > div > div, .information_one > div > div {
  padding: 0.4rem 0;
}
.merchants > div:nth-child(1), .information_box > div > div:nth-child(1), .information_one > div > div:nth-child(1) {
  width: 2.093rem;
  color: #666666;
  font-size: 0.4rem;
}
.merchants > div:nth-child(2), .information_box > div > div:nth-child(2), .information_one > div > div:nth-child(2) {
  width: 7.107rem;
  font-size: 0.373rem;
}
.merchants > div:nth-child(2) > p, .information_box > div > div:nth-child(2) > p, .information_one > div > div:nth-child(2) > p {
  font-size: 0.373rem;
}
