@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  color: #333333;
  list-style: none;
  /*把此元素放置在父元素的中部。*/
  vertical-align: middle;
  box-sizing: border-box;
  /*去除移动端特有的点击高亮效果*/
  -webkit-tap-highlight-color: transparent;
}

img {
  display: block;
  background: rgba(238, 238, 238, 0);
}

input {
  /*1.清除文本框获取焦点时默认的边框阴影*/
  outline: none;
  /*2.去除边框*/
  border: none;
  /*3.添加边框*/
  border: 1px solid #ccc;
  /*4.清除ios默认圆角*/
  -webkit-appearance: none;
  border-radius: 0;
}

/* 让链接默认不显示下划线， */
a {
  color: #333;
  /*指针样式*/
  cursor: pointer;
  outline: none;
  text-decoration: none;
  display: inline-block;
  /*导致鼠标在页面活动时视频延迟变卡问题解决.*/
  blr: expression(this.onFocus=this.blur());
}

/* 清理浮动 */
.clearfix:before, .clearfix:after {
  display: block;
  content: " ";
  clear: both;
}

/*单行隐藏*/
.yincang, .uus > li > div:nth-child(1), .recommended_con > div:nth-child(1), .wdows > div, #wdows > div {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/*多行隐藏*/
.yincangs {
  overflow: hidden;
  /*超出隐藏*/
  display: -webkit-box;
  /*将对象作为弹性伸缩盒子模型显示。*/
  -webkit-box-orient: vertical;
  /*从上到下垂直排列子元素（设置伸缩盒子的子元素排列方式）*/
  -webkit-line-clamp: 2;
  /*超出2行用省略号表示*/
}

/*换行*/
.newline {
  word-break: break-all;
  /* 只对英文起作用，以字母作为换行依据。*/
  word-wrap: break-word;
  /*只对英文起作用，以单词作为换行依据。*/
  white-space: pre-wrap;
  /*只对中文起作用，强制换行。*/
}

/*禁止换行*/
.ban_newline {
  white-space: nowrap;
}

/*placeholder样式*/
.input::-webkit-input-placeholder {
  text-align: center;
}

/*隐藏滚动条*/
.scroll_bar::-webkit-scrollbar {
  width: 0 !important;
  /*height:0 !important;*/
  /*display: none;*/
}

/*上下左右居中1.0*/
.flexs, .headers .lefts, .headers .centers, .headers .rights {
  display: flex;
  align-items: center;
  justify-content: center;
}

/*上下左右居中1.1*/
.juzhong {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

.headers {
  height: 1.173rem;
  z-index: 96;
  background: white;
  border-bottom: 1px solid #eeeeee;
}
.headers .lefts {
  width: 1rem;
  height: 100%;
  font-size: 0.5rem;
  position: absolute;
  top: 0;
  left: 0;
}
.headers .centers {
  width: 100%;
  height: 100%;
  font-size: 0.48rem;
}
.headers .rights {
  width: 1rem;
  height: 100%;
  font-size: 0.5rem;
  position: absolute;
  top: 0;
  right: 0;
}

.contents {
  padding: 0 0.413rem;
  top: 1.173rem;
  bottom: 1.587rem;
  overflow: auto;
}
.contents > h3 {
  padding: 0.587rem 0;
  font-size: 0.533rem;
}
.contents > div:nth-child(2) {
  display: flex;
}
.contents > div:nth-child(2) > img {
  width: 1.067rem;
  height: 1.067rem;
  border-radius: 50%;
}
.contents > div:nth-child(2) > div {
  margin-left: 0.187rem;
}
.contents > div:nth-child(2) > div > div:nth-child(1) {
  font-size: 0.373rem;
}
.contents > div:nth-child(2) > div > div:nth-child(2) {
  color: #999999;
  font-size: 0.293rem;
}

.conts > p {
  text-indent: 2em;
  font-size: 0.4rem;
  line-height: 0.64rem;
  letter-spacing: 0.031rem;
}
.conts img {
  width: 9.2rem;
  height: 5.067rem;
}

.btns {
  width: 100%;
  height: 1rem;
  border: none;
  color: #999999;
  font-size: 0.373rem;
  text-align: center;
  line-height: 1rem;
  margin: 0.5rem 0 0.3rem 0;
  background: rgba(255, 255, 255, 0);
}

.recommended_title {
  font-size: 0.533rem;
}

.uus > li {
  height: 1.173rem;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #eeeeee;
}
.uus > li > div:nth-child(1) {
  width: 80%;
  height: 100%;
  font-size: 0.373rem;
  line-height: 1.173rem;
}
.uus > li > div:nth-child(2) {
  height: 100%;
  color: #999999;
  font-size: 0.293rem;
  line-height: 1.173rem;
}

.uuk > li {
  display: flex;
  padding: 0.46rem 0 0.36rem 0;
  border-bottom: 1px solid #E5E5E5;
}
.uuk > li > img {
  display: block;
  width: 2.533rem;
  height: 1.92rem;
  background: rgba(0, 0, 0, 0.1);
  border-radius: 0.053rem;
}

.recommended_con {
  width: 6.2rem;
  margin-left: 0.44rem;
}
.recommended_con > div:nth-child(1) {
  max-width: 100%;
  font-size: 0.373rem;
}
.recommended_con > div:nth-child(2) {
  display: flex;
  margin: 0.1rem 0 0.2rem 0;
}
.recommended_con > div:nth-child(2) > div {
  font-size: 0.293rem;
}
.recommended_con > div:nth-child(2) > div:nth-child(1) {
  height: 0.2rem;
  display: flex;
  align-items: center;
  padding-right: 0.133rem;
  border-right: 1px solid #E5E5E5;
}
.recommended_con > div:nth-child(2) > div:nth-child(2) {
  height: 0.2rem;
  display: flex;
  align-items: center;
  padding-left: 0.133rem;
}
.recommended_con > div:nth-child(3) {
  display: flex;
}
.recommended_con > div:nth-child(3) > div {
  color: #999999;
  font-size: 0.267rem;
  margin-right: 0.133rem;
  border-radius: 0.053rem;
  padding: 0.04rem 0.12rem;
  background-color: #f5f5f5;
}
.recommended_con > div:nth-child(3) > .sell {
  color: #0099ff;
  background-color: rgba(0, 153, 255, 0.3);
}
.recommended_con > div:nth-child(3) > .waiting {
  color: #ffb956;
  background-color: rgba(255, 185, 86, 0.3);
}
.recommended_con > div:nth-child(4) {
  color: #f9351a;
  font-size: 0.373rem;
}

.contact_box {
  display: flex;
  padding: 1.093rem 0 1.013rem 0;
}
.contact_box > img {
  width: 2.24rem;
  height: 2.24rem;
}
.contact_box > div {
  width: 6rem;
  margin-left: 0.8rem;
}
.contact_box > div > div {
  height: 0.6rem;
  font-size: 0.32rem;
  vertical-align: bottom;
}
.contact_box > div > div > span {
  display: inline-block;
  width: 1.7rem;
  height: 100%;
  overflow: hidden;
  text-align: justify;
  font-size: 0.32rem;
}
.contact_box > div > div > span:after {
  display: inline-block;
  width: 100%;
  content: '';
}

.prompt {
  color: #999999;
  font-size: 0.373rem;
  text-align: center;
}

.copyright {
  color: #999999;
  font-size: 0.267rem;
  text-align: center;
  margin: 1.067rem 0 0.36rem 0;
}

.footers {
  width: 10rem;
  height: 1.587rem;
  z-index: 96;
}
.footers img {
  width: 100%;
  height: 100%;
}

/*# sourceMappingURL=dynamic.css.map */
