@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  color: #333333;
  list-style: none;
  /*把此元素放置在父元素的中部。*/
  vertical-align: middle;
  box-sizing: border-box;
  /*去除移动端特有的点击高亮效果*/
  -webkit-tap-highlight-color: transparent;
}

img {
  display: block;
  background: rgba(238, 238, 238, 0.5);
}

input {
  /*1.清除文本框获取焦点时默认的边框阴影*/
  outline: none;
  /*2.去除边框*/
  border: none;
  /*3.添加边框*/
  border: 1px solid #ccc;
}

/* 让链接默认不显示下划线， */
a {
  color: #333;
  /*指针样式*/
  cursor: pointer;
  outline: none;
  text-decoration: none;
  display: inline-block;
  /*导致鼠标在页面活动时视频延迟变卡问题解决.*/
  blr: expression(this.onFocus=this.blur());
}

/* 清理浮动 */
.clearfix:before, .clearfix:after {
  display: block;
  content: " ";
  clear: both;
}

/*单行隐藏*/
.yincang, .wdows > div, #wdows > div {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/*多行隐藏*/
.yincangs {
  overflow: hidden;
  /*超出隐藏*/
  display: -webkit-box;
  /*将对象作为弹性伸缩盒子模型显示。*/
  -webkit-box-orient: vertical;
  /*从上到下垂直排列子元素（设置伸缩盒子的子元素排列方式）*/
  -webkit-line-clamp: 2;
  /*超出2行用省略号表示*/
}

/*换行*/
.newline {
  word-break: break-all;
  /* 只对英文起作用，以字母作为换行依据。*/
  word-wrap: break-word;
  /*只对英文起作用，以单词作为换行依据。*/
  white-space: pre-wrap;
  /*只对中文起作用，强制换行。*/
}

/*禁止换行*/
.ban_newline {
  white-space: nowrap;
}

/*placeholder样式*/
.input::-webkit-input-placeholder {
  text-align: center;
}

/*隐藏滚动条*/
.scroll_bar::-webkit-scrollbar {
  width: 0 !important;
  /*height:0 !important;*/
  /*display: none;*/
}

/*上下左右居中*/
.flexs, .headers .lefts, .headers .centers, .headers .rights {
  display: flex;
  align-items: center;
  justify-content: center;
}

.headers {
  height: 1.173rem;
  z-index: 96;
  padding: 0.213rem 0;
  background: white;
  border-bottom: 1px solid #eeeeee;
}
.headers .lefts {
  height: 100%;
  padding: 0 0.4rem;
  font-size: 0.373rem;
  position: absolute;
  top: 0;
  left: 0;
}
.headers .centers {
  width: 100%;
  height: 100%;
  font-size: 0.48rem;
}
.headers .rights {
  height: 100%;
  padding: 0 0.4rem;
  font-size: 0.373rem;
  position: absolute;
  top: 0;
  right: 0;
}

.contents {
  padding-top: 1.173rem;
}

.review_box {
  width: 100%;
  height: 3rem;
  padding: 0.08rem 0.747rem 0.5rem 0.747rem;
}
.review_box .puba {
  width: 100%;
  height: 100%;
  outline: none;
  resize: none;
  border: none;
}
.review_box .puba::-webkit-input-placeholder {
  color: #999999;
}
.review_box > div {
  color: #999999;
  font-size: 0.267rem;
  text-align: right;
}

.image_box {
  padding: 0.373rem 0.761rem;
  display: flex;
  flex-wrap: wrap;
}
.image_box > .imgs {
  width: 2.826rem;
  height: 2.693rem;
  padding: 0 0.0665rem 0.12rem 0.0665rem;
  position: relative;
}
.image_box > .imgs > img:nth-child(1) {
  display: block;
  width: 100%;
  height: 100%;
}
.image_box > .imgs > .deletes {
  width: 0.587rem;
  height: 0.587rem;
  position: absolute;
  top: 0;
  right: 0.0665rem;
}
.image_box > .images {
  width: 2.826rem;
  height: 2.693rem;
  padding: 0 0.0665rem 0.12rem 0.0665rem;
}
.image_box > .images > label {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 0.013rem #e5e5e5;
}
.image_box > .images > label > i {
  color: #cccccc;
  font-size: 1rem;
}
.image_box > .images > label > input {
  display: none;
}
