@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  color: #333333;
  list-style: none;
  /*把此元素放置在父元素的中部。*/
  vertical-align: middle;
  box-sizing: border-box;
  /*去除移动端特有的点击高亮效果*/
  -webkit-tap-highlight-color: transparent;
}

img {
  display: inline-block;
  background: #eeeeee;
}

input {
  /*1.清除文本框获取焦点时默认的边框阴影*/
  outline: none;
  /*2.去除边框*/
  border: none;
  /*3.添加边框*/
  border: 1px solid #ccc;
}

/* 让链接默认不显示下划线， */
a {
  color: #333;
  /*指针样式*/
  cursor: pointer;
  outline: none;
  text-decoration: none;
  display: inline-block;
  /*导致鼠标在页面活动时视频延迟变卡问题解决.*/
  blr: expression(this.onFocus=this.blur());
}

/* 清理浮动 */
.clearfix:before, .clearfix:after {
  display: block;
  content: " ";
  clear: both;
}

/*单行隐藏*/
.yincang, .wdows > div, #wdows > div {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/*多行隐藏*/
.yincangs {
  overflow: hidden;
  /*超出隐藏*/
  display: -webkit-box;
  /*将对象作为弹性伸缩盒子模型显示。*/
  -webkit-box-orient: vertical;
  /*从上到下垂直排列子元素（设置伸缩盒子的子元素排列方式）*/
  -webkit-line-clamp: 2;
  /*超出2行用省略号表示*/
}

/*换行*/
.newline {
  word-break: break-all;
  /* 只对英文起作用，以字母作为换行依据。*/
  word-wrap: break-word;
  /*只对英文起作用，以单词作为换行依据。*/
  white-space: pre-wrap;
  /*只对中文起作用，强制换行。*/
}

/*禁止换行*/
.ban_newline {
  white-space: nowrap;
}

/*placeholder样式*/
.input::-webkit-input-placeholder {
  text-align: center;
}

/*隐藏滚动条*/
.scroll_bar::-webkit-scrollbar {
  width: 0 !important;
  /*height:0 !important;*/
  /*display: none;*/
}

/*上下左右居中*/
.flexs, .updates > div {
  display: flex;
  align-items: center;
  justify-content: center;
}

.headers {
  box-sizing: border-box;
  width: 10rem;
  height: 1.153rem;
  padding: 0.16rem 0.48rem;
  background-color: #0099ff;
  position: fixed;
  top: 0;
  left: auto;
  z-index: 99;
}
.headers > input {
  width: 9.04rem;
  height: 0.853rem;
  padding: 0 0.16rem;
  background-color: #ffffff;
  border-radius: 0.107rem;
}

.search::-webkit-input-placeholder {
  text-align: center;
  font-size: 0.32rem;
}

.search:-moz-placeholder {
  text-align: center;
  font-size: 0.32rem;
}

.search::-moz-placeholder {
  text-align: center;
  font-size: 0.32rem;
}

.search:-ms-input-placeholder {
  text-align: center;
  font-size: 0.32rem;
}

.content {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding-top: 1.153rem;
  overflow: auto;
}

.swiper1 {
  width: 10rem;
}
.swiper1 .swiper-slide {
  height: 4.333rem;
  background: rgba(0, 0, 0, 0.3);
}
.swiper1 .swiper-slide > img {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
}

.menu {
  width: 100%;
  height: 4.693rem;
  display: flex;
  flex-wrap: wrap;
  margin-top: 0.48rem;
  box-shadow: 0rem 0.04rem 0.187rem 0rem rgba(153, 153, 153, 0.3);
}
.menu > a {
  width: 25%;
  padding-bottom: 0.467rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.menu > a > img {
  width: 1.293rem;
  height: 1.293rem;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.1);
}
.menu > a > span {
  margin-top: 0.187rem;
  color: #666666;
  font-size: 0.32rem;
}

.nows {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 0.533rem 0 0 0;
}
.nows > div {
  box-sizing: border-box;
  width: 4.467rem;
  height: 1.813rem;
  background-color: #f5f5f5;
  border-radius: 0.053rem;
  margin-bottom: 0.213rem;
  padding: 0.307rem 0.387rem;
  display: flex;
  justify-content: space-between;
}
.nows > div > div {
  margin-top: 0.08rem;
}
.nows > div > div > p:nth-child(1) {
  font-size: 0.373rem;
}
.nows > div > div > p:nth-child(2) {
  color: #999999;
  font-size: 0.32rem;
  margin-top: 0.14rem;
}
.nows > div > img {
  width: 1.2rem;
  height: 1.2rem;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.1);
}

.preferential {
  width: 9.2rem;
  height: 2.4rem;
  margin: 0 auto;
}
.preferential > img {
  width: 100%;
  height: 100%;
}

.tabBar, .tabBars {
  width: 10rem;
  height: 0.8rem;
  list-style: none;
  margin: 0.847rem auto 0.24rem;
  padding-top: 0.1rem;
  display: flex;
  justify-content: space-between;
  background: lime;
  z-index: 999;
}
.tabBar > li, .tabBars > li {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.tabBar > li > p, .tabBars > li > p {
  font-size: 0.427rem;
  text-align: center;
}

.selecteds > p {
  color: #0099ff;
}
.selecteds > div {
  width: 35%;
  height: 0.053rem;
  background-color: #0099ff;
  border-radius: 0.027rem;
  margin: 0 auto;
}

.swiper2 {
  width: 9.173rem;
}

.information {
  height: 2.88rem;
  padding: 0.48rem 0;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #e5e5e5;
}
.information > div > div {
  width: 6.053rem;
  font-size: 0.373rem;
}
.information > div > p {
  color: #999999;
  font-size: 0.293rem;
  margin-top: 0.153rem;
}
.information > img {
  width: 2.52rem;
  height: 1.92rem;
  border-radius: 0.053rem;
}

.updates {
  width: 9.2rem;
  height: 1.2rem;
  background-color: #f5f5f5;
  border-radius: 0.053rem;
  display: flex;
  margin: 0.267rem auto 0;
}
.updates > div {
  width: 50%;
  height: 100%;
  color: #0099ff;
  font-size: 0.373rem;
}
.updates > div:nth-child(1) > i {
  color: #0099ff;
  font-size: 0.3rem;
  padding-top: 0.1rem;
  margin-left: 0.1rem;
}
.updates > div:nth-child(2) > i {
  color: #0099ff;
  font-size: 0.4rem;
  padding-top: 0.05rem;
}

.swiper3 {
  width: 9.173rem;
}

.swiper4 .swiper-slide, .swiper5 .swiper-slide {
  width: 3.653rem;
  padding-bottom: 0.187rem;
  background: #f5f5f5;
}
.swiper4 .swiper-slide > img, .swiper5 .swiper-slide > img {
  width: 100%;
  height: 1.467rem;
  border-radius: 0.053rem;
}
.swiper4 .swiper-slide > p:nth-child(2), .swiper5 .swiper-slide > p:nth-child(2) {
  font-size: 0.373rem;
  margin: 0.187rem 0 0 0.32rem;
}
.swiper4 .swiper-slide > p:nth-child(3), .swiper5 .swiper-slide > p:nth-child(3) {
  color: #999999;
  font-size: 0.267rem;
  line-height: 0.5rem;
  margin: 0 0 0 0.32rem;
}

.building_box {
  margin-top: 0.18rem;
}
.building_box > div {
  display: flex;
  margin-bottom: 10px;
  padding: 10px;
  border-bottom: 1px solid gray;
  border-radius: 4px;
  background: #EEE;
}
.building_box > div img {
  flex: 50px 0 0;
  width: 50px;
  height: 50px;
  padding: 4px;
  border: 1px solid green;
}
.building_box > div span {
  padding-left: 4px;
  line-height: 24px;
}

.buildings {
  display: flex;
  padding: 0.48rem 0 0.347rem 0;
  border-bottom: 1px solid #e5e5e5;
}
.buildings > img {
  width: 2.533rem;
  height: 1.92rem;
  border-radius: 0.053rem;
}
.buildings > div {
  margin-left: 0.453rem;
}
.buildings > div > div:nth-child(1) {
  font-size: 0.373rem;
}
.buildings > div > div:nth-child(4) {
  color: #f9351a;
  font-size: 0.373rem;
  margin-top: 0.05rem;
}

.buildings:last-child {
  border: none;
}

.region {
  height: 0.773rem;
  display: flex;
  align-items: center;
}
.region > div {
  color: #666666;
  font-size: 0.293rem;
}
.region > div:nth-child(2) {
  height: 0.213rem;
  display: flex;
  align-items: center;
  margin-left: 0.133rem;
  padding-left: 0.133rem;
  border-left: 0.027rem solid #e5e5e5;
}

.features {
  display: flex;
}
.features div {
  color: #999999;
  font-size: 0.267rem;
  padding: 0.04rem 0.12rem;
  margin-right: 0.133rem;
  background: whitesmoke;
  border-radius: 0.053rem;
}
.features .statea {
  color: #0099ff;
  background: rgba(178, 224, 255, 0.5);
}
.features .stateb {
  color: #ffb956;
  background: rgba(255, 234, 204, 0.5);
}

.fixed-top {
  position: fixed;
  width: 100%;
  top: 0;
  left: auto;
}

.sticky {
  position: -webkit-sticky;
  /*滚过初始位置时自动吸顶*/
  position: sticky;
  /*吸顶时的定位*/
  top: 0;
  left: auto;
  z-index: 999;
  /*z-index比下方所有层级要高*/
}

.kk {
  width: 9.173rem;
  position: fixed;
  top: 0;
  left: auto;
}

.tt {
  position: -webkit-sticky;
  /*滚过初始位置时自动吸顶*/
  position: sticky;
  /*吸顶时的定位*/
  top: 0;
  left: auto;
  z-index: 999;
  /*z-index比下方所有层级要高*/
}

/*# sourceMappingURL=aa.css.map */
