@charset "UTF-8";
@import "../../../css/base.scss";
@import "../../../css/styles.scss";
.imgks{
    background:#eeeeee;
}
.headers{
    height:3.066rem;
    background:white;
    z-index:999;
}
.search{
    height: 1.173rem;
    padding:0.213rem 0;
    >i{
        display: inline-block;
        font-size:0.5rem;
        text-align: center;
    }
    >i:nth-child(1){
        width:1.173rem;
        color:#a1a1a1;
    }
    >i:nth-child(3){
        width:1.333rem;
        color:#a1a1a1;
    }
    >input{
        width: 7.304rem;
        height: 0.747rem;
        padding:0 0.32rem;
        font-size:$fontsc;
        background-color:$colore;
        border-radius: 0.053rem;
        border:none;
    }
}
.choose{
    >div:nth-child(1){
        display: flex;
        padding:0.32rem 0;
        >div{
            width:100%;
            @extend .flexs;
            >i{
                color:#a1a1a1;
            }
        }
        .act{
            color: #0099ff;
            >i{
                color: #0099ff;
            }
        }
    }
    >div:nth-child(2){
        padding:0.08rem 0.4rem 0.16rem 0.4rem;
        display: flex;
        justify-content: space-between;
        >div{
            width: 2.133rem;
            height: 0.667rem;
            color:$colorb;
            font-size:$fontsc;
            background-color:$colore;
            border-radius: 0.027rem;
            @extend .flexs;
        }
        >.act{
            color:$colorc;
            background: $backgroundb;
        }
    }
}
.contents{
    position:absolute;
    top:3.066rem;
    left:auto;
    bottom:0;
    overflow:auto;
}
.building_box{
    padding:0.48rem 0.4rem 0.2rem 0.4rem;
    display: flex;
    border-bottom:1px solid #E5E5E5;
    >img{
        width: 2.533rem;
        height: 1.92rem;
        border-radius: 0.053rem;
    }
    >div{
        margin-left:0.467rem;
        >h3{
            font-size:$fontsb;
        }
        >p{
            color:$colora;
            font-size:$fontse;
            line-height:0.5rem;
        }
        >div:last-child{
            color: #f9351a;
            font-size:$fontsb;
        }
    }
}
.building_box:last-child{
    border:none;
}
.environment{
    display: flex;
    align-items: center;
    >div:nth-child(1){
        display: flex;
        align-items: center;
        height:0.25rem;
        border-right:2px solid #E5E5E5;
        >div{
            color:$colorb;
            font-size:$fontse;
            margin-right:0.12rem;
        }
    }
    >div:nth-child(2){
        display: flex;
        color:$colorb;
        font-size:$fontse;
        margin-left:0.12rem;
    }
}
.situation{
    display: flex;
    margin:0.06rem 0;
    >div{
        color:$colorb;
        font-size:$fontse;
        padding:0.05rem 0.133rem;
        background-color: $colore;
        border-radius: 0.027rem;
        margin-right:0.133rem;
    }
    >.sell{
        color: #ffffff;
        background-color:$colorc;
    }
    >.waiting{
        color: #ffffff;
        background-color: $colord;
    }
}
.swiper1{
    width:10rem;
    height:82.8vh;
    position:fixed;
    top:3.066rem;
    left:auto;
    background:rgba(99,99,99,0.6);
    display: none;
}

.swiper1 .swiper-slide{

}
.swiper1{
    .tab_con1,.tab_con2,.tab_con3{
        height:9.347rem;
        background:white;
    }
}
.swiper1 .tab_con4{
    height:100%;
    background:white;
}
.ch4{
    width:100%;
    height:calc(100% - 1.547rem);
    padding:0 0.2rem;
    overflow-x: auto;
}
.ch1,.ch2,.ch3{
    width:100%;
    height:7.7rem;
    padding-left:0.387rem;
    overflow-x: auto;
    >label{
        width:100%;
        height:1.2rem;
        padding-right:0.4rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom:1px solid #eeeeee;
        >.act{
            color:$colorc;
        }
    }
}
.btn1,.btn2,.btn3{
    width:100%;
    height:1.547rem;
    display: flex;
    align-items: center;
    justify-content:center;
    border-top:1px solid #eeeeee;
    >input{
        width: 9.2rem;
        height: 0.96rem;
        background-color: $colorc;
        color: #ffffff;
        font-size: 0.4rem;
        border:none;
    }
}
.btn4{
    height:1.547rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-top:1px solid #eeeeee;
    >input{
        width: 4.467rem;
        height: 0.96rem;
        font-size: 0.4rem;
        border-radius: 0.053rem;
    }
    >input:nth-child(1){
        color: $colorb;
        background:white;
    }
    >input:nth-child(2){
        color: #ffffff;
        background-color:$colorc;
    }
}
.conditions{
    >div:nth-child(1){
        margin:0.533rem 0 0.387rem 0;
        padding:0 0.2rem;
        font-size:$fontsa;
    }
}
.cond{
    display: flex;
    flex-wrap: wrap;
    >div{
        width:calc(100% / 4);
        display: flex;
        justify-content: center;
        margin-bottom:0.4rem;
        >div{
            width: 1.973rem;
            height: 0.613rem;
            color: #999999;
            font-size:$fontsc;
            background-color: $colore;
            border-radius: 0.053rem;
            @extend .flexs;
        }
        >.act{
            color:$colorc;
            background: $backgroundb;
        }
    }
    >p{
        width:calc(100% - 0.4rem);
        margin:0.093rem auto 0;
        border-bottom:1px solid #eeeeee;
    }
}
