@charset "UTF-8";
@import "../../../css/base.scss";
@import "../../../css/styles.scss";
.imgks{
    background:#eeeeee;
}
.headers{
    height:3.066rem;
    background:white;
    z-index:999;
}
.search{
    height: 1.173rem;
    padding:0.213rem 0;
    >i{
        display: inline-block;
        font-size:0.5rem;
        text-align: center;
    }
    >i:nth-child(1){
        width:1.173rem;
        color:#a1a1a1;
    }
    >i:nth-child(3){
        width:1.333rem;
        color:#a1a1a1;
    }
    >input{
        width: 7.304rem;
        height: 0.747rem;
        padding:0 0.32rem;
        font-size:$fontsc;
        background-color:$colore;
        border-radius: 0.053rem;
        border:none;
    }
}
.choose{
    >div:nth-child(1){
        display: flex;
        padding:0.32rem 0;
        >div{
            width:100%;
            @extend .flexs;
            >i{
                color:#a1a1a1;
            }
        }
    }
    >div:nth-child(2){
        padding:0.08rem 0.4rem 0.16rem 0.4rem;
        display: flex;
        justify-content: space-between;
        >div{
            width: 2.133rem;
            height: 0.667rem;
            color:$colorb;
            font-size:$fontsc;
            background-color:$colore;
            border-radius: 0.027rem;
            @extend .flexs;
        }
    }
}

.contents{
    position:absolute;
    top:3.066rem;
    left:0;
    bottom:0;
    overflow:auto;
//  >div{
//      height:2rem;
//      border-bottom:1px solid red;
//      >img{
//          width:1rem;
//          height:1rem;
//      }
//  }
}
.building_box{
    padding:0.48rem 0.4rem 0.2rem 0.4rem;
    display: flex;
    border-bottom:1px solid #E5E5E5;
    >img{
        width: 2.533rem;
        height: 1.92rem;
        border-radius: 0.053rem;
    }
    >div{
        margin-left:0.467rem;
        >h3{
            font-size:$fontsb;
        }
        >p{
            color:$colora;
            font-size:$fontse;
            line-height:0.5rem;
        }
        >div:last-child{
            color: #f9351a;
            font-size: 0.373rem;
        }
    }
}
.building_box:last-child{
    border:none;
}
.environment{
    display: flex;
    align-items: center;
    >div:nth-child(1){
        display: flex;
        align-items: center;
        height:0.25rem;
        border-right:2px solid #E5E5E5;
        >div{
            color:$colorb;
            font-size:$fontse;
            margin-right:0.12rem;
        }
    }
    >div:nth-child(2){
        display: flex;
        color:$colorb;
        font-size:$fontse;
        margin-left:0.12rem;
    }
}
.situation{
    display: flex;
    margin:0.06rem 0;
    >div{
        color:$colorb;
        font-size:$fontse;
        padding:0.05rem 0.133rem;
        background-color: #f5f5f5;
        border-radius: 0.027rem;
        margin-right:0.133rem;
    }
    >.sell{
        color: #ffffff;
        background-color: #0099ff;
    }
    >.waiting{
        color: #ffffff;
        background-color: #ffb956;
    }
}
