@charset "UTF-8";
@import "../../../css/base.scss";
@import "../../../css/styles.scss";
.headers{
    height: 1.173rem;
    background:white;
    border-bottom:1px solid #eeeeee;
    display: flex;
    align-items: center;
    z-index:96;
    >i{
        width:1rem;
        height:100%;
        font-size:0.5rem;
        @extend .flexs;
        position:absolute;
        top:0;
        left:0;
    }
    >div{
        width:100%;
        height:100%;
        @extend .flexs;
        font-size: 0.48rem;
        font-weight:500;
    }
}
.contents{
    width:10rem !important;
    position:absolute;
    top:1.173rem;
    left:auto;
    bottom:0;
}
.review_box{
    width:100%;
    height:100%;
    overflow: auto;
}
.review{
    padding-top:0.4rem;
}
.comments_title{
    padding:0 0.4rem;
    display: flex;
    justify-content: space-between;
    >div:nth-child(1){
        img{
            width: 0.96rem;
            height: 0.96rem;
            border-radius:50%;
        }
        span{
            font-size: 0.4rem;
        }
    }
    >div:nth-child(2){
        display: flex;
        align-items:flex-end;
        >div:nth-child(1){
            max-width:1.3rem;
            height:100%;
            font-size:$fontsc;
            display: flex;
            align-items: flex-end;
            justify-content: flex-end;
            padding-bottom:0.03rem;
        }
        >div:nth-child(2){
            width:0.7rem;
            height:1rem;
            display: flex;
            align-items: flex-end;
            justify-content: center;
            padding-bottom:0.1rem;
            >img{
                width:0.5rem;
            }
        }
        >.act{
            color: #f9351a;
        }
    }
}
.comments_content{
    padding:0.493rem 0.4rem 0.373rem 0.4rem;
    font-size:$fontsb;
}
.comments_img{
    width:100%;
    padding:0 0.2135rem 0.147rem 0.2135rem;
    display: flex;
    flex-wrap: wrap;
    >li{
        width:3.066rem;
        text-align: center;
        padding-bottom:0.253rem;
        >img{
            width: 2.693rem;
            height: 2.693rem;
        }
    }
}
.comments_time{
    width:9.2rem;
    color:$colorb;
    font-size:$fontsc;
    margin:0 auto;
    padding-bottom:0.4rem;
    border-bottom:1px solid #F3F3F3;
}