@charset "UTF-8";
@import "../../../css/base.scss";
@import "../../../css/styles.scss";
.headers{
    height: 1.173rem;
    z-index:96;
    background: white;
    border-bottom:1px solid #eeeeee;
    .lefts{
        width:1rem;
        height:100%;
        font-size:0.5rem;
        position:absolute;
        top:0;
        left:0;
        @extend .flexs;
    }
    .centers{
        width:100%;
        height:100%;
        font-size: 0.48rem;
        @extend .flexs;
    }
    .rights{
        width:1rem;
        height:100%;
        font-size:0.5rem;
        position:absolute;
        top:0;
        right:0;
        @extend .flexs;
    }
}
.contents{
    width:10rem !important;
    padding:0 0.413rem;
    position:fixed;
    top:1.173rem;
    left:auto;
    bottom:1.587rem;
    overflow: auto;
    >h3{
        padding:0.587rem 0;
        font-size: 0.533rem;  
    }
    >div:nth-child(2){
        display: flex;
        >img{
            width: 1.067rem;
            height: 1.067rem;
            border-radius:50%;
        }
        >div{
            margin-left:0.187rem;
            >div:nth-child(1){
                font-size:$fontsb;
            }
            >div:nth-child(2){
                color:$colorb;
                font-size:$fontsd;
            }
        }
    }
}
.conts{
    >p{
        text-indent:2em;
        font-size: 0.4rem;
        line-height: 0.64rem;
        letter-spacing: 0.031rem;
        
    }
    img{
        width: 9.2rem;
        height: 5.067rem;
    }
}
.btns{
    width:100%;
    height:1rem;
    border:none;
    color:$colorb;
    font-size:$fontsb;
    margin:0.5rem 0 0.3rem 0;
    background:rgba(255,255,255,0);
}
.recommended_title{
    font-size: 0.533rem;
}
.uus{
    >li{
        height: 1.173rem;
        display: flex;
        justify-content: space-between;
        border-bottom:1px solid #eeeeee;
        >div:nth-child(1){
            width:80%;
            height:100%;
            font-size:$fontsb;
            line-height: 1.173rem;
            @extend .yincang;
        }
        >div:nth-child(2){
            height:100%;
            color:$colorb;
            font-size: 0.293rem;
            line-height: 1.173rem;
        }
    }
}
.uuk{
    >li{
        display: flex;
        padding:0.46rem 0 0.36rem 0;
        border-bottom:1px solid #E5E5E5;
        >img{
            display: block;
            width: 2.533rem;
            height: 1.92rem;
            background:rgba(0,0,0,0.5);
            border-radius: 0.053rem;
        }
    }
}
.recommended_con{
    margin-left:0.44rem;
    >div:nth-child(1){
        font-size:$fontsb;
    }
    >div:nth-child(2){
        display: flex;
        margin:0.1rem 0 0.2rem 0;
        >div{
            font-size:$fontsd;
        }
        >div:nth-child(1){
            height:0.2rem;
            display: flex;
            align-items: center;
            padding-right:0.133rem;
            border-right:1px solid #E5E5E5;
        }
        >div:nth-child(2){
            height:0.2rem;
            display: flex;
            align-items: center;
            padding-left:0.133rem;
        }
    }
    >div:nth-child(3){
        display: flex;
        >div{
            color:$colorb;
            font-size:$fontse;
            margin-right:0.133rem;
            border-radius: 0.053rem;
            padding:0.04rem 0.12rem;
            background-color:$colore;
        }
        >.sell{
            color:$colorc;
            background-color:$backgroundb;
        }
        >.waiting{
            color:$colord;
            background-color:$backgroundc;
        }
    }
    >div:nth-child(4){
        color: #f9351a;
        font-size:$fontsb;
    }
}
.contact_box{
    display: flex;
    padding:1.093rem 0 1.013rem 0;
    >img{
        width: 2.24rem;
        height: 2.24rem;
    }
    >div{
        width:6rem;
        margin-left:0.8rem;
        >div{
            height:0.6rem;
            font-size:$fontsc;
            vertical-align: bottom;
            >span{
                display: inline-block;
                width:1.7rem; 
                height:100%;
                overflow: hidden;
                text-align: justify; 
                font-size:$fontsc;
            }
            >span:after{
                display: inline-block;
                width: 100%;
                content: '';
            }
        }
    }
}
.prompt{
    color:$colorb;
    font-size:$fontsb;
    text-align: center;
}
.copyright{
    color:$colorb;
    font-size:$fontse;
    text-align: center;
    margin:1.067rem 0 0.36rem 0;
}
.footers{
    width: 10rem;
    height: 1.587rem;
    z-index:96;
    img{
        width:100%;
        height:100%;
    }
}

