@charset "UTF-8";
@import "../../../css/base.scss";
@import "../../../css/styles.scss";
html,body{
    width:100%;
    height:100%;
    position:relative;
}
.headers{
    height: 1.173rem;
    z-index:96;
    background: white;
    box-shadow: 0rem 0.013rem 0rem 0rem #e5e5e5;
    .lefts{
        width:1.173rem;
        height:100%;
        font-size:0.5rem;
        position:absolute;
        top:0;
        left:0;
        @extend .flexs;
    }
    .centers{
        width:100%;
        height:100%;
        font-size: 0.48rem;
        @extend .flexs;
    }
    .rights{
        width:2.346rem;
        height:100%;
        display: flex;
        position:absolute;
        top:0;
        right:0;
        >i{
            width:1.173rem;
            height:100%;
            font-size:0.5rem;
            @extend .flexs;
        }
    }
}
.contents{
    width:10rem !important;
    position:absolute;
    top:1.173rem;
    left:auto;
    bottom:0;
}
#allmap{
    width:100%;
    height:100%;
    .anchorBL{
        display: none;
    }
}
.popup_box{
    width:0;
    padding-top:1.173rem;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    background:rgba(99,99,99,0.5);
    position:absolute;
    top:0;
    right:0;
    bottom: 0;
    z-index:97;
}
.screening_box{
    width: 7.68rem;
    height:100%;
    overflow: auto;
    background:white;
}
.options{
    padding-left:0.56rem;
    >div{
        padding:0.533rem 0 0.4rem 0;
        font-size: 0.427rem;
    }
    ul{
        width:100%;
        display: flex;
        flex-wrap: wrap;
        padding-bottom:0.28rem;
        border-bottom:1px solid #eeeeee;
        li{
            width: 1.867rem;
            height: 0.667rem;
            @extend .flexs;
            color: #666666;
            font-size: 0.32rem;
            margin:0 0.48rem 0.267rem 0;
            background-color: #f5f5f5;
            border-radius: 0.053rem;
        }
        .act{
            color:$colorc;
            background:$backgroundb;
        }
    }
}
.btn{
    width: 7.68rem;
    height:1.263rem;
    color:white;
    font-size: 0.4rem;
    background:#0099FF;
    @extend .flexs;
    
}
.pulls{
    width:100%;
    background:rgba(99,0,0,0.3);
    position:absolute;
    top:60%;
    padding:0 0.4rem;
    display: none;
}
.tels{
    width: 9.2rem;
    height: 1.2rem;
    display: flex;
    align-items: center;
    font-size: 0.4rem;
    padding-left:0.4rem;
    background-color: #ffffff;
    box-shadow: 0rem 0.027rem 0.133rem 0rem rgba(0, 0, 0, 0.22);
    border-radius: 0.053rem;
}
.building_box{
    >li{
        width: 9.2rem;
        height: 4.267rem;
        padding:0 0.48rem;
        margin-top:0.133rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background:rgba(0,99,0,0.3);
        >div:nth-child(1){
            >div:nth-child(1){
                color: #ffffff;
                font-size: 0.48rem;
            }
            >div:nth-child(2){
                display: flex;
                margin:0.267rem 0 0.32rem 0;
                >div{
                    padding:0.06rem 0.2rem;
                    margin-right:0.133rem;
                    color: #ffffff;
                    font-size: 0.267rem;
                    border-radius: 0.24rem;
                    border: solid 1px #ffffff;
                }
            }
            >div:nth-child(3){
                color: #ffffff;
                font-size: 0.373rem;
            }
            
        }
        >div:nth-child(2){
            >div{
                color: #ffffff;
                font-size: 0.32rem;
            }
            >div:nth-child(1){
                margin-bottom:0.227rem;
            }
        }
    }
}





















