@charset "UTF-8";
@import "../../../css/base.scss";
@import "../../../css/styles.scss";
.headers{
    height: 1.173rem;
    z-index:96;
    padding:0.213rem 0;
    background: white;
    box-shadow: 0rem 0.013rem 0rem 0rem #e5e5e5;
    .lefts{
        width:1rem;
        height:100%;
        font-size:0.5rem;
        position:absolute;
        top:0;
        left:0;
        @extend .flexs;
    }
    .centers{
        width: 7.627rem;
        height:100%;
        margin:0 auto;
        font-size:$fontsc;
        background-color:$colore;
        border-radius: 0.053rem;
        display: flex;
        i{
            width:7%;
            height:100%;
            color:#7b7b7b;
            font-size:0.42rem;
            display: flex;
            align-items: center;
            justify-content: flex-end;
        }
        input{
            width:93%;
            height:100%;
            border:none;
            padding-left:0.1rem;
            font-size:$fontsb;
            background:rgba(255,255,255,0);
        }
    }
    .rights{
        width:1rem;
        height:100%;
        font-size:0.5rem;
        position:absolute;
        top:0;
        right:0;
        @extend .flexs;
    }
}
.contents{
    width:10rem !important;
    background: #F1F1F1;
    padding:0 0.24rem;
    position:absolute;
    top:1.173rem;
    left:auto;
    bottom:0;
    overflow: auto;
}
.building_box{
    margin-top:0.267rem;
    padding-bottom:0.4rem;
    background: white;
    position:relative;
    >img:nth-child(1){
        width: 9.52rem;
        height: 3.84rem;
    }
    img:last-child{
        width: 0.88rem;
        position: absolute;
        top:0.293rem;
        left:-0.093rem;
    }
}
.building{
    padding:0 0.48rem;
    >div:nth-child(1){
        padding:0.387rem 0 0.067rem 0;
        display: flex;
        justify-content: space-between;
        >h5{
            font-size:$fontsb;
        }
        >div{
            display: flex;
            >div{
                font-size:$fontse;
                @extend .flexs;
            }
            >div:nth-child(1){
                color: #ffffff;
                background-color:$colord;
                border-radius: 0.027rem 0rem 0rem 0.027rem;
            }
            >div:nth-child(2){
                color:$colord;
                border: solid 0.013rem #ffb956;
            }
        }
    }
    >div:nth-child(2){
        display: flex;
        padding:0.253rem 0;
        >div:nth-child(1){
            color:$colorb;
            font-size:$fontsc;
        }
        >div:nth-child(2){
            color: #f9351a;
            font-size:$fontsc;
        }
    }
    >div:nth-child(3){
        color:$colorb;
        font-size:$fontsc;
        padding-bottom:0.413rem;
    }
    >div:nth-child(4){
        display: flex;
        justify-content: space-between;
        >input{
            width: 4.213rem;
            height: 0.88rem;
            border:none;
            color: #ffffff;
            font-size:$fontsc;
            background-color:$colorc;
            border-radius: 0.053rem;
        }
    }
}
.bounced_box{
    background:rgba(0,0,0,0.5);
    position:fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    z-index:97;
    @extend .flexs;
}
.bounced{
    width: 7.467rem;
    background:white;
    padding:0.533rem;
    >div:nth-child(1){
        font-size: 0.4rem;
        text-align: center;
        padding-bottom:0.453rem;
    }
    >input:nth-child(2),>input:nth-child(3){
        width: 6.4rem;
        height: 0.96rem;
        color:$colorb;
        font-size:$fontsc;
        padding:0 0.373rem;
        border-radius: 0.053rem;
        border: solid 0.027rem #333333;
    }
    >input:nth-child(3){
        margin-top:0.267rem;
    }
    >div:nth-child(4){
        color:$colorb;
        font-size:$fontse;
        margin-top:0.267rem;
    }
    >input:nth-child(5){
        width: 6.4rem;
        height: 1.2rem;
        color: #ffffff;
        font-size: 0.4rem;
        border:none;
        margin-top:0.693rem;
        background-color: #1a1a1a;
        border-radius: 0.053rem;
    }
}
