@charset "UTF-8";
@import "../../../css/base.scss";
@import "../../../css/styles.scss";
.headers{
    height: 1.173rem;
    background:white;
    display: flex;
    align-items: center;
    z-index:96;
    padding-left:0.4rem;
    div:nth-child(1){
        width: 8.187rem;
        height: 0.747rem;
        font-size:$fontsc;
        background-color:$colore;
        border-radius: 0.053rem;
        display: flex;
        i{
            width:7%;
            height:100%;
            color:#7b7b7b;
            font-size:0.42rem;
            display: flex;
            align-items: center;
            justify-content: flex-end;
        }
        input{
            width:93%;
            height:100%;
            border:none;
            padding-left:0.1rem;
            font-size:$fontsb;
            background:rgba(255,255,255,0);
        }
    }
    div:nth-child(2){
        width:1.413rem;
        height:100%;
        @extend .flexs;
        font-size:$fontsb;
    }
}
.contents{
    padding-top:1.173rem;
}
.contents_box{
    padding:0 0.4rem;
    >div{
        padding:0.267rem 0;
        display: flex;
        justify-content: space-between;
        >div{
            color:$colorb;
            font-size:$fontsc;
        }
        >i{
            font-size:$fontsb;
        }
    }
    >ul{
        >li{
            height: 1.173rem;
            display: flex;
            align-items: center;
            font-size:$fontsb;
            border-bottom:1px solid #E5E5E5;
        }
    }
}
